.home-bg-all{
    background-color: #FFF;
}
.home-img{
    width: 100%;
    // height: 500px;
    height: 50vh;
}
.home-content-1{
    color: #FB2E86;
    font-size: 30px;
}
.home-content-2{
    font-weight: 700;
    font-size: 50px;
}

.home-heading-names{
    font-weight: 600;
    font-size: 40px;
    color: #002477;
    text-align: center;
}

// name css 
$slider-name: typing-slider;
$slides: 3;
$typing-duration: 4s;
$tab-letters: 19 25 15; //number of characters in each paragraph
$slider-font-size: 16px;
$background: #FFF;


@keyframes cursor {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}

@keyframes typing {
  from { width: 100%; }
  90%, to { width: 0; }
}

@keyframes slide {
  #{100% / $slides} { font-size: $slider-font-size; letter-spacing: 2px; }
  to { font-size: 0; letter-spacing: 0; }
}

.#{$slider-name} {
  font-family: Consolas, monospace;
  font-weight: bold;
//   text-align: center;
    color: #002477;
  white-space: nowrap;
}

.#{$slider-name} p {
  position: relative;
  display: inline;
  font-size: 0;
  text-transform: uppercase;
  letter-spacing: 0;
  animation: slide $typing-duration * $slides step-start infinite;
}

.#{$slider-name} p::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-left: 3px solid black;
  background-color: $background;
  animation: typing $typing-duration infinite,
             cursor 1s infinite;
}

@each $letters in $tab-letters {
  $i: index($tab-letters, $letters);
  .#{$slider-name} p:nth-child(#{$i}) {
    animation-delay:  $typing-duration * ($i - 1);
    &::after {
      animation-delay: $typing-duration * ($i - 1);
      animation-timing-function: steps(#{$letters}), step-end;
    }
  }
}

//emoji css


.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}

svg#freepik_stories-code-typing:not(.animated) .animable {
  opacity: 0;
}

svg#freepik_stories-code-typing.animated #freepik--background-complete--inject-6 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
  animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #freepik--Device--inject-6 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #freepik--Plant--inject-6 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideRight;
  animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #freepik--Floor--inject-6 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) slideUp;
  animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #freepik--speech-bubbles--inject-6 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) zoomIn;
  animation-delay: 0s;
}

svg#freepik_stories-code-typing.animated #freepik--Character--inject-6 {
  animation: 1s 1 forwards cubic-bezier(.36, -0.01, .5, 1.38) lightSpeedRight;
  animation-delay: 0s;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: inherit;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes lightSpeedRight {
  from {
    transform: translate3d(50%, 0, 0) skewX(-20deg);
    opacity: 0;
  }

  60% {
    transform: skewX(10deg);
    opacity: 1;
  }

  80% {
    transform: skewX(-2deg);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}


// media queries

@media screen and (max-width: 576px) {

  .home-content-1 {
    color: #FB2E86;
    font-size: 25px;
    text-align: center;
  }

  .home-content-2 {
    font-weight: 700;
    font-size: 35px;
    text-align: center;
  }
  .#{$slider-name} {
    font-family: Consolas, monospace;
    font-weight: bold;
    text-align: center;
    color: #002477;
    white-space: nowrap;
  }

  .img-margin-mb{
    margin: 7vh 0vh 7vh 0vh;
  }
  .skill-line-mb{
    font-size: 16px;
  }
}
