.home-bg-all{
    background-color: #FFF;
}
.home-img{
    width: 100%;
    /* height: 500px; */
    height: auto;
}
.home-content-1{
    color: #FB2E86;
}
.home-content-2{
    font-weight: 700;
    font-size: 40px;
}
/* .home-content-3{

} */
.home-heading-names{
    font-weight: 600;
    font-size: 40px;
    color: #002477;
    text-align: center;
}

/* name css */
